#board {
  height: 600px;
  border-left: 25px solid #0077be;
  border-right: 25px solid #0077be;
  border-bottom: none;
  position: absolute;
  justify-content: center; /*no effect, not at the center */
  display: block;
}

#board td {
  width: 70px;
  height: 70px;
  border: solid 1px #666;
  background: #dfc12a;
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
  z-index: 1;
  margin: 5px;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  display: none;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
}

.player-drop {
  display: block;
  animation: drop 0.5s linear;
}

@keyframes drop {
  0% {
    transform: translateY(-500px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 1px lightgray;
  background: lightgray;
}

#column-top td:hover {
  background-color: gold;
  border: 1px dashed rgb(189, 187, 187);
  cursor: pointer;
}

.button {
  background-color: #555555;
  color: white;
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #3b3d3b;
}

input[type="text"],
[type="number"] {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="number"] {
  width: 10%;
}

#form {
  border-radius: 20px;
  background-color: #f2f2f2;
  padding: 10px;
  width: 70%;
  font-family: Tahoma, Verdana, sans-serif;
}
